@model IEnumerable<DTO.RequestStatisticByModule>

@{var index = 0;}
@foreach (var item in Model)
{
    <div class="modal fade" id="@string.Format("RequestStatisticByModule{0}",index)" role="dialog" data-backdrop="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request in @item.Module.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a class="nav-link active" data-toggle="tab" href="#@string.Format("RequestByPendingApproved{0}",index)">Pending Approve</a></li>
                        <li role="presentation"><a class="nav-link active" data-toggle="tab" href="#@string.Format("RequestByApproved{0}",index)">Approved</a></li>
                        <li role="presentation"><a class="nav-link active" data-toggle="tab" href="#@string.Format("RequestByRejected{0}",index)">Rejected</a></li>
                        <li role="presentation"><a class="nav-link active" data-toggle="tab" href="#@string.Format("RequestByCancelled{0}",index)">Cancelled</a></li>
                    </ul>
                    @*tab content*@
                    <div class="tab-content">
                        <div role="tabpanel" id="@string.Format("RequestByPendingApproved{0}",index)" class="tab-pane fade container in active" style="width:100% !important">
                            <h3>Pending Approve</h3>
                            <table class="table table-bordered UseDataTables">
                                <thead>
                                    <tr>
                                        <th>Request Name</th>
                                        <th>Created By</th>
                                        <th>Reporting To</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var task in item.RequestByPendingApproved.Tasks)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("RequestList","Project", new { id = ViewBag.ProjectId,chooseTaskId=task.Id})">@task.Title</a>
                                            </td>
                                            <td>
                                                @task.UserInfo1.FullName (@task.UserInfo1.UserName)
                                            </td>
                                            <td>
                                                @task.UserInfo.FullName (@task.UserInfo.UserName)
                                            </td>
                                            <td>
                                                @task.From
                                            </td>
                                            <td>
                                                @task.To
                                            </td>
                                            <td>
                                                @task.Severity
                                            </td>
                                            <td>
                                                @task.Priority
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" id="@string.Format("RequestByApproved{0}",index)" class="tab-pane fade container" style="width:100% !important">
                            <h3>Approved</h3>
                            <table class="table table-bordered UseDataTables">
                                <thead>
                                    <tr>
                                        <th>Request Name</th>
                                        <th>Created By</th>
                                        <th>Reporting To</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>
                                            Severity
                                        </th>
                                        <th>
                                            Priority
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var task in item.RequestByPendingApproved.Tasks)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("RequestList","Project", new { id = ViewBag.ProjectId,chooseTaskId=task.Id})">@task.Title</a>
                                            </td>
                                            <td>
                                                @task.UserInfo1.FullName (@task.UserInfo1.UserName)
                                            </td>
                                            <td>
                                                @task.UserInfo.FullName (@task.UserInfo.UserName)
                                            </td>
                                            <td>
                                                @task.From
                                            </td>
                                            <td>
                                                @task.To
                                            </td>
                                            <td>
                                                @task.Severity
                                            </td>
                                            <td>
                                                @task.Priority
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" id="@string.Format("RequestByRejected{0}",index)" class="tab-pane fade container" style="width:100% !important">
                            <h3>Rejected</h3>
                            <table class="table table-bordered UseDataTables">
                                <thead>
                                    <tr>
                                        <th>Request Name</th>
                                        <th>Created By</th>
                                        <th>Reporting To</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>
                                            Severity
                                        </th>
                                        <th>
                                            Priority
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var task in item.RequestByRejected.Tasks)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("RequestList","Project", new { id = ViewBag.ProjectId,chooseTaskId=task.Id})">@task.Title</a>
                                            </td>
                                            <td>
                                                @task.UserInfo1.FullName (@task.UserInfo1.UserName)
                                            </td>
                                            <td>
                                                @task.UserInfo.FullName (@task.UserInfo.UserName)
                                            </td>
                                            <td>
                                                @task.From
                                            </td>
                                            <td>
                                                @task.To
                                            </td>
                                            <td>
                                                @task.Severity
                                            </td>
                                            <td>
                                                @task.Priority
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" id="@string.Format("RequestByCancelled{0}",index)" class="tab-pane fade container" style="width:100% !important">
                            <h3>Cancelled</h3>
                            <table class="table table-bordered UseDataTables">
                                <thead>
                                    <tr>
                                        <th>Request Name</th>
                                        <th>Created By</th>
                                        <th>Reporting To</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>
                                            Severity
                                        </th>
                                        <th>
                                            Priority
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var task in item.RequestByCancelled.Tasks)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("RequestList","Project", new { id = ViewBag.ProjectId,chooseTaskId=task.Id})">@task.Title</a>
                                            </td>
                                            <td>
                                                @task.UserInfo1.FullName (@task.UserInfo1.UserName)
                                            </td>
                                            <td>
                                                @task.UserInfo.FullName (@task.UserInfo.UserName)
                                            </td>
                                            <td>
                                                @task.From
                                            </td>
                                            <td>
                                                @task.To
                                            </td>
                                            <td>
                                                @task.Severity
                                            </td>
                                            <td>
                                                @task.Priority
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    index++;
}

