@model DTO.Project
@using COMMON

@{
    Layout = null;
}



@using (Ajax.BeginForm("Create","Task", new { },new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "createResult",
},new { @id = "formCreateTask"}))
{
    <input type="hidden" value="abc" name="CreatedBy"/>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">
                Title
            </label>
            <div class="col-md-10">
                <input type="text" id="creatTitle" name="Title" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Assigned To</label>
            <div class="col-md-10">
                <select name="AssignedTo" id="createAssignedTo" class="form-control">
                    <option value="0">-- Choose member --</option>
                    @foreach (var item in (IEnumerable<DTO.UserInfo>)Model.GetMember())
                    {
                        <option value="@item.UserName">@item.FullName (@item.UserName)</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Task Type</label>
            <div class="col-md-10">
                <select name="TaskTypeId" id="createTaskTypeId" class="form-control">
                    <option value="0">-- Choose task type --</option>
                    @foreach (var item in (IEnumerable<DTO.TaskType>)ViewBag.TaskTypes)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Module</label>
            <div class="col-md-10">
                <select name="ModuleId" id="createModuleId" class="form-control">
                    <option value="0">-- Choose module --</option>
                    @foreach (var item in Model.Modules.Where(m => m.IsActive))
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">From</label>
            <div class="control-label col-md-3">
                <input type="text" name="From" onchange="ValidateDateTo('create')" class="form-control" style="margin-left:1.5% !important" id="createFrom"  autocomplete="off" />
            </div>

            <label class="control-label col-md-2">To</label>
            <div class="control-label col-md-3">
                <input type="text" class="form-control" name="To" id="createTo" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Level</label>
            <div class="col-md-10">
                <select class="form-control" name="Level" id="createdLevel">
                    <option value="0">-- Choose level --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                <textarea name="Description" id="createDescription" class="form-control"></textarea>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input form="formCreateTask" type="submit" id="createSubmit" value="Create" class="btn btn-success pull-right" />
                </div>
            </div>
        </div>
    </div>
}
