@model DTO.Task
@using COMMON
@using Microsoft.AspNet.Identity

@{
    Layout = null;
    var project = (DTO.Project)ViewBag.Project;
}

<h2>Edit request</h2>
<hr />

@using (Ajax.BeginForm("EditRequest", "Task", new { }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "noiDetailDungChan",
    OnSuccess = "resetSumarry"
}, new { @id = "editFormTask" }))
{
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="@Model.CreatedBy" name="CreatedBy" />
    <input type="hidden" value="@Model.AssignedTo" name="AssignedTo" />
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">
                Title
            </label>
            <div class="col-md-10">
                <input type="text" id="editTitle" value="@Model.Title" name="Title" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Repoting to</label>
            <div class="col-md-10">
                <select name="ModuleId" onchange="changeModule(this,'editAssignedTo')" id="editModuleId" class="form-control">
                    <option value="0">-- Choose reporting to --</option>
                    @foreach (var item in project.GetModuleIn(User.Identity.GetUserName()))
                    {
                        if (item.Id == Model.ModuleId)
                        {
                            if (item.Title.Equals(HardFixJobRoleTitle.Watcher))
                            {
                                <option selected value="@item.Id">Project Manager</option>
                            }
                            else
                            {
                                <option selected value="@item.Id">@item.Title</option>
                            }
                        }
                        else
                        {
                            if (item.Title.Equals(HardFixJobRoleTitle.Watcher))
                            {
                                <option selected value="@item.Id">Project Manager</option>
                            }
                            else
                            {
                                <option selected value="@item.Id">@item.Title</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <input type="hidden" name="TaskType" id="editTaskTypeValue" value="@Model.TaskType"/>
        <div class="form-group">
            <label class="control-label col-md-2">Task Type</label>
            <div class="col-md-10">
                @{
                    var hasSelected = false;
                }
                <select onchange="ChangeTaskType(this,'editTaskTypeOther')" id="editTaskTypeId" class="form-control">
                    <option value="0">-- Choose task type --</option>
                    @foreach (var item in (IEnumerable<DTO.TaskType>)ViewBag.TaskTypes)
                    {
                        if (item.Title.Equals(Model.TaskType))
                        {
                            <option selected value="@item.Title">@item.Title</option>
                            hasSelected = true;
                        }
                        else
                        {
                            <option value="@item.Title">@item.Title</option>
                        }
                    }
                    @if (!hasSelected)
                    {
                        <option selected value="other">Others: </option>
                    }
                    else
                    {
                        <option value="other">Others: </option>
                    }
                </select>
                @if (!hasSelected)
                {
                    <div id="editTaskTypeOther">
                        is <input type="text" value="@Model.TaskType" class="form-control" />
                    </div>
                }
                else
                {
                    <div id="editTaskTypeOther" class="hidden">
                        is <input type="text" class="form-control" />
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">From</label>
            <div class="control-label col-md-3">
                <input type="text" name="From" onchange="ValidateDateTo('edit')" value="@Model.From.ToString("mm/dd/yyyy hh:mm")" class="form-control" style="margin-left:1.5% !important" id="editFrom" autocomplete="off" />
            </div>

            <label class="control-label col-md-2">To</label>
            <div class="control-label col-md-3">
                <input type="text" class="form-control" name="To" id="editTo" value="@Model.To.ToString("mm/dd/yyyy hh:mm")" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Severity</label>
            <div class="col-md-10">
                <select class="form-control" name="Severity" id="editSeverity">
                    <option value="0">-- Choose severity --</option>
                    @{
                        var keySeverity = COMMON.CONSTANCT.Severities.Keys;
                    }
                    @foreach (var key in keySeverity)
                    {
                        if (Model.Severity.Equals(key))
                        {
                            <option selected value="@key" data-toggle="tooltip" data-placement="right" title="@COMMON.CONSTANCT.Severities[key]">@key</option>
                        }
                        else
                        {
                            <option value="@key" data-toggle="tooltip" data-placement="right" title="@COMMON.CONSTANCT.Severities[key]">@key</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Priority</label>
            <div class="col-md-10">
                <select class="form-control" name="Priority" id="editPriority">
                    <option value="0">-- Choose priority --</option>
                    @{
                        var keyPiority = COMMON.CONSTANCT.Priorities.Keys;
                    }
                    @foreach (var key in keyPiority)
                    {
                        if (Model.Priority.Equals(key))
                        {
                            <option selected value="@key" data-toggle="tooltip" data-placement="right" title="@COMMON.CONSTANCT.Priorities[key]">@key</option>
                        }
                        else
                        {
                            <option value="@key" data-toggle="tooltip" data-placement="right" title="@COMMON.CONSTANCT.Priorities[key]">@key</option>
                        }
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                <textarea name="Description" id="editDescription" class="form-control">@Model.Description</textarea>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input form="editFormTask" type="submit" id="editSubmit" value="Save" class="btn btn-success pull-right" />
                </div>
                <div class="col-md-1">
                    <input form="editFormTask" type="button" onclick="chooseTask(null,@Model.Id)" value="Cancel" class="btn btn-warning pull-right" />
                </div>
            </div>
        </div>
    </div>
}