@model DTO.Task
@{
}

<h4>Task</h4>
<hr />
@using (Ajax.BeginForm("SearchStudent", "Home", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    LoadingElementId = "imgloader",
    OnFailure = "fnError",
    OnBegin = "fnOnBegin",
    UpdateTargetId = "divSearchStudent",
}))
{
    <dl class="dl-horizontal">
        <dd>
            <span class="h1">@Model.Title  </span> <label class="label-default">@Model.TaskType.Title</label>
        </dd>

        <dd>
            <a class="btn btn-success pull-right" style="margin-left:2%" href="#">Resolve</a>
            <a class="btn btn-success pull-right" style="margin-left:2%" href="#">Resolve</a>
            <a class="btn btn-success pull-right" style="margin-left:2%" href="#">Resolve</a>
        </dd>
        <dt>
            Module
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
}
<hr />
<h3>Solutions</h3>
<table class="table table-hover table-bordered">
    <tr>
        <th>
            ID
        </th>
        <th>
            Resolve Type
        </th>
        <th>
            User
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model.Solutions)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.ResolveType1.Title
                </td>
                <td>
                    @item.UserInfo.FullName
                </td>
            </tr>
        }
    </tbody>
</table>