@model DTO.Project
@using COMMON
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Infomation";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<div class="container">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <table class="table">
        <tbody>
            <tr>
                <td class="text-success"><i class="fab fa-centercode"></i> Code</td>
                <td>
                    @Model.Code
                </td>
            </tr>
            <tr>
                <td class="text-success"><i class="fa fa-calendar"></i> Date</td>
                @{
                    var toValue = "";
                    if (Model.To != null)
                    {
                        var dateTo = (DateTime)Model.To;
                        toValue = " - " + dateTo.ToLongDateString();
                    }
                }
                <td>
                    @Model.From.ToLongDateString() @toValue
                </td>
            </tr>
            <tr>
                <td class="text-success"><i class="fa fa-user"></i> Created By</td>
                <td> @Html.DisplayFor(model => model.CreatedBy)</td>
            </tr>
            <tr>
                <td class="text-success"><i class="fa fa-book"></i> Created Date</td>
                <td>@Model.CreatedDate.ToLongDateString()</td>
            </tr>
            <tr>
                <td class="text-success"><i class="fas fa-star"></i> Status</td>
                <td><label class="label label-success">@Model.LookupStatu.Name</label></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <label class="control-label text-success">Description</label>
    <p>@Model.Description</p>
</div>

@section Scripts{
    <script src="~/Scripts/kanban.js"></script>
    <script>
        $(document).ready(function () {
            var roleCurrentUser = @Model.GetRoleInModule(User.Identity.GetUserName());
            $("#sidebar2-5").addClass('active');
            $("#sidebar0").children().attr("href", '@Url.Action("GanttChart", "Project", new { id = Model.Id })')

            if (roleCurrentUser ===@HardFixJobRole.Watcher) {
                $("#sidebar1").remove();
                $("#sidebar2").remove();
                $("#sidebar3").remove();
                $("#sidebar0").remove();
                $("#sidebar4").remove();
                $("#linkSidebar2-52").attr("href", '@Url.Action("RequestList", "Project", new { id = Model.Id, createTask =true})')
                $("#linkSidebar2-51").attr("href", '@Url.Action("RequestList", "Project", new { id = Model.Id })')
            }
            else {
                $("#sidebar1").children().attr("href", '@Url.Action("KanbanBoard", "Project", new { id = Model.Id })') 

                $("#linkSidebar21").attr("href", '@Url.Action("TaskList", "Project", new { id = Model.Id })')
                if (roleCurrentUser !== 0) {
                    $("#linkSidebar22").attr("href", '@Url.Action("TaskList", "Project", new { id = Model.Id, createTask =true})')
                }
                else {
                    $("#linkSidebar22").remove();
                }

                $("#linkSidebar2-51").attr("href", '@Url.Action("RequestList", "Project", new { id = Model.Id })')
                if (roleCurrentUser !== @HardFixJobRole.PM) {
                    $("#linkSidebar2-52").attr("href", '@Url.Action("RequestList", "Project", new { id = Model.Id, createTask =true})')
                }
                else {
                    $("#linkSidebar2-52").remove();
                }


                if (roleCurrentUser === @HardFixJobRole.PM) {
                    $("#linkSidebar31").attr("href",'@Url.Action("KanbanBoard", "Project", new { id = Model.Id })')
                    $("#linkSidebar31").attr("href", '@Url.Action("Index", "Module", new { id = Model.Id })')

                    $("#linkSidebar32").attr("href",'@Url.Action("KanbanBoard", "Project", new { id = Model.Id })')
                    $("#linkSidebar32").attr("href", '@Url.Action("Create", "Module", new { id = Model.Id })')

                    $("#sidebar41").attr("href", '@Url.Action("Infomation", "Project", new { id = Model.Id })')
                }
                else {
                    $("#sidebar3").remove();
                    $("#sidebar4").remove();
                }
            }
        });
    </script>
}
