@model DTO.Project

@{
    /**/

    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}
<link href="~/Content/kanban.css" rel="stylesheet" />
<h2>Kanban Board</h2>
@if (!Model.Modules.Any())
{
    <div>
        Project do not have any module.
    </div>
    <div>
        <a href="#">Click here to add module</a>
    </div>
}
else
{
    <ul class="nav nav-tabs">
        @foreach (var item in Model.Modules)
        {
            <li><a data-toggle="tab" href="@string.Format("#{0}",item.Id)">@item.Title</a></li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var item in Model.Modules)
        {
            <div id="@item.Id" class="tab-pane fade">
                <br />
                <div id="sortableKanbanBoards"  class="row" style="margin-left:5% !important">
                    <!--sütun başlangıç-->
                    <div class="panel panel-danger kanban-col">
                        <div class="panel-heading">
                            In Progress
                        </div>
                        <div class="panel-body">
                            <div id="InProgress" class="kanban-centered">
                                @{
                                    var inProgressList = item.Tasks.Where(t => t.IsActive == true && t.StatusId == COMMON.TaskStatusKey.InProgress);
                                    foreach (var task in inProgressList)
                                    {
                                        <article class="kanban-entry grab"  id="@string.Format("task{0}",task.Id)" draggable="true">
                                            <div class="kanban-entry-inner">
                                                <div class="kanban-label">
                                                    <h2><a href="@Url.Action("Detail","Task", new { id = task.Id})">@task.Title</a> <span>@task.TaskType.Title</span></h2>
                                                    <p>Created by: @task.UserInfo.FullName</p>
                                                    <p>
                                                        Deadline: @task.To 
                                                        @if (task.To > DateTime.Now)
                                                        {
                                                            <lable class="label-danger">Overdue</lable>
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="#">Add a card...</a>
                        </div>
                    </div>
                    <!--sütun bitiş-->
                    <!--sütun başlangıç-->
                    <div class="panel panel-primary kanban-col"> 
                        <div class="panel-heading">
                            Resolved
                        </div>
                        <div class="panel-body">
                            <div id="Resolved" class="kanban-centered">
                                @{
                                    var resolvedList = item.Tasks.Where(t => t.IsActive == true && t.StatusId == COMMON.TaskStatusKey.Resolved);
                                    foreach (var task in resolvedList)
                                    {
                                        <article class="kanban-entry grab" id="@string.Format("task{0}",task.Id)" draggable="true">
                                            <div class="kanban-entry-inner">
                                                <div class="kanban-label">
                                                    <h2><a href="@Url.Action("Detail","Task", new { id = task.Id})">@task.Title</a> <span>@task.TaskType.Title</span></h2>
                                                    <p>Created by: @task.UserInfo.FullName</p>
                                                    <p>Deadline: @task.To</p>
                                                </div>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="#">Add a card...</a>
                        </div>
                    </div>
                    <!--sütun bitiş-->
                    <!--sütun başlangıç-->
                    <div class="panel panel-success kanban-col">
                        <div class="panel-heading">
                            Done
                        </div>
                        <div class="panel-body">
                            <div id="Closed" class="kanban-centered">
                                @{
                                    var doneList = item.Tasks.Where(t => t.IsActive == true && t.StatusId == COMMON.TaskStatusKey.Closed);
                                    foreach (var task in doneList)
                                    {
                                        <article class="kanban-entry grab" id="@string.Format("task{0}",task.Id)" draggable="true">
                                            <div class="kanban-entry-inner">
                                                <div class="kanban-label">
                                                    <h2><a href="@Url.Action("Detail","Task", new { id = task.Id})">@task.Title</a> <span>@task.TaskType.Title</span></h2>
                                                    <p>Created by: @task.UserInfo.FullName</p>
                                                    <p>Deadline: @task.To</p>
                                                </div>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="#">Add a card...</a>
                        </div>
                    </div>
                    <!--sütun bitiş-->
                </div>
            </div>
        }
    </div>
}

<div id="solutionModalDungChan"></div>


@section Scripts{
    <script src="~/Scripts/kanban.js"></script>
    <script>
        $(document).ready(function () {
            $("#sidebar1").addClass("active");
            $("#sidebar1").children().attr("href",'@Url.Action("KanbanBoard", "Project", new { id = Model.Id})')
            $("#sidebar2").children().attr("href",'@Url.Action("KanbanBoard", "Project", new { id = Model.Id})')
            $("#sidebar2").children().attr("href",'@Url.Action("Details", "Task", new { id = Model.Modules.FirstOrDefault().Tasks.FirstOrDefault().Id})')
        });
    </script>
    <script>
        document.querySelector('#p1').addEventListener('mdl-componentupgraded', function () {
            this.MaterialProgress.setProgress(44);
        });
    </script>
}

