@model IEnumerable<DTO.Post>
<style>
    #shortDescription{
        height:128px;
        overflow:hidden;
    }

    .postHover:hover{
        transition-duration: 0.5s;
        transform: scale(0.95);
    }
    .imgCoverPlaceHolder{
          overflow: hidden;
          position: relative;
          height: 290px;
    }
    .imgPlaceHoder{
        overflow: hidden;
        position: relative;
        height: 290px;
    }

    img{
        position:absolute;
    }
</style>
@if (Model.Count() == 0)
{
    <h5>There is not any post!</h5>
}
@{ 
    int index = 0;
    if(ViewBag.IsHome==null)
    {
        index++;
    }
}
@foreach (var item in Model)
{
    if (index == 0)
    {
        index++;
        <div class="post col-xl-12 postHover" name="postBlog">
            <div class="post-thumbnail imgCoverPlaceHolder"><a href="~/Blog/DetailPost/@item.PostId"><img id="UrlSlugReview" src=@item.UrlSlug alt="..." class="card-img" /></a></div>
            <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">@item.PostedOn.ToLongDateString()</div>
                    <div class="category"><a href="#">@item.Category.Name</a></div>
                </div>
                <div id="shortDescription">
                    <p class="text-muted">@Html.Raw(item.ShortDescription)</p>
                </div>
                <div class="post-footer d-flex align-items-center">
                    <a href="~/Blog/DetailPost/@item.PostId" class="author d-flex align-items-center flex-wrap">
                        <h4 class="title"><span>@item.Title</span></h4>
                    </a>
                </div>
            </div>
            <hr />
        </div>
        
    }
    else
    {
        <div class="post col-xl-6 postHover" name="postBlog">
            <div class="post-thumbnail imgPlaceHoder"><a href="~/Blog/DetailPost/@item.PostId"><img id="UrlSlugReview" src=@item.UrlSlug alt="..." class="card-img" /></a></div>
            <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">@item.PostedOn.ToLongDateString()</div>
                    <div class="category"><a href="#">@item.Category.Name</a></div>
                </div>
                <div id="shortDescription">
                    <p class="text-muted">@Html.Raw(item.ShortDescription)</p>
                </div>
                <div class="post-footer d-flex align-items-center">
                    <a href="~/Blog/DetailPost/@item.PostId" class="author d-flex align-items-center flex-wrap">
                        <h4 class="title"><span>@item.Title</span></h4>
                    </a>
                </div>
            </div>
        </div>
    }
}



@*<script>
        //var page = 1;
        //var listPost[] = document.getElementsByClassName("post");
        //for (var i = 0; i < listPost.length; i++) {
        //    listPost[i].remove();
        //}

    </script>*@


