@model IEnumerable<DTO.Module>

@{
    var project = (DTO.Project)ViewBag.Project;
    ViewBag.Title = project.Name;
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h2>Modules</h2>

<p>
    <a href="@Url.Action("Create","Module",new { id = project.Id})">Add new</a>
</p>
<div class="container">
    <table class="table table-bordered UseDataTables">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamLead)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.UserInfo.FullName (@item.UserInfo.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        <a href="@Url.Action("Delete","Module", new { moduleId = item.Id, projectId = item.ProjectId })" onclick="return confirm('Are u sure? Delete: @item.Title now?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@section Scripts{
    <script>
        $(document).ready(() => {
            $("#sidebar3").addClass('active');
            $("#sidebar1").children().attr("href",'@Url.Action("KanbanBoard", "Project", new { id = project.Id})')
            $("#linkSidebar21").attr("href",'@Url.Action("KanbanBoard", "Project", new { id = project.Id})')
            $("#linkSidebar21").attr("href", '@Url.Action("TaskList", "Project", new { id = project.Id})')

            $("#linkSidebar22").attr("href",'@Url.Action("KanbanBoard", "Project", new { id = project.Id})')
            $("#linkSidebar22").attr("href", '@Url.Action("TaskList", "Project", new { id = project.Id, createTask =true})')

            $("#linkSidebar31").attr("href",'@Url.Action("KanbanBoard", "Project", new { id = project.Id})')
            $("#linkSidebar31").attr("href", '@Url.Action("Index", "Module", new { id = project.Id})')

            $("#linkSidebar32").attr("href",'@Url.Action("KanbanBoard", "Project", new { id = project.Id})')
            $("#linkSidebar32").attr("href",'@Url.Action("Create", "Module", new { id = project.Id })')

            if ('@ViewBag.isSuccess'=== "True") {
                    $.notify("Success!", "success");
            }
        });
    </script>
}