@model IEnumerable<DTO.Tag>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section head{
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<h2>Tags</h2>
@Html.Partial("~/Views/Shared/_ErrorList.cshtml")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered" id="dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlSlug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlSlug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TagId }) |
                    <a href="~/Admin/TagManager/Delete/@item.TagId" onclick="return confirm('Do you want to delete '+@item.TagId);">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section script{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/datatables-demo.js"></script>
}
