<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Promana | Starter</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.10.0-web/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->


    <link href="~/Content/skins/skin-purple-light.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .aHover {
            color: #337ab7;
        }

            .aHover:hover {
                cursor: pointer;
            }

        .myFooter {
            background-color: #605ca8;
            padding-top: 3%;
            padding-bottom: 5%;
            padding-left: 14%;
            padding-right: 14%;
            color: white;
            display: inline-block;
            width: 100%;
            position: absolute;
            z-index: 100 !important;
        }

        .myHeader {
            background-color: #605ca8;
            width: 100%;
            padding-top: 1%;
            padding-bottom: 3%;
            padding-left: 14%;
            color: white;
            z-index: 100 !important;
            position:relative;
        }

        .myNav {
            position: absolute !important;
            color: white;
            margin-left: 10%;
            margin-top: 2.5%;
        }

        #buttonAddProject {
            position: absolute;
            margin-left: 70% !important;
            margin-top: -1%;
            box-shadow: 0 1px,5px, #000000;
        }

        .errors {
            color: red;
        }

        .mySideBar {
            margin-top: 10% !important;
            z-index: 1 !important;
            height:700px !important;
            position:absolute;
        }

        .myALink {
            z-index: 1000 !important;
        }
    </style>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-purple-light sidebar-mini sidebar-collapse">
        <!-- Main Header -->
        <header class="main-header" style="position:relative !important; background-color:#605ca8; margin-bottom:0px !important">

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <ul class="list-inline pull-left myNav">
                    <li><a style="color:white">Project</a></li>
                    <li><a style="color:white">Request</a></li>
                    <li><a style="color:white">Task assigned to me</a></li>
                </ul>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- Notifications Menu -->
                        <!-- Tasks Menu -->
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>

                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                    </ul>
                </div>
            </nav>
        </header>
        <header class="myHeader">
            <div class="logo-lg">
                <b>Promana</b>
                <h1><i class="fa fa-angle-right"></i>@ViewBag.Title</h1>
                <h1><a id="buttonAddProject"><span class="btn btn-success"><i class="fas fa-plus-circle"></i> Create New Project</span></a></h1>
            </div>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <div class="main-sidebar mySideBar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">HEADER</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li id="sidebar1" class="myALink"><a href="@Url.Action("KanbanBoard","Project")"><i class="fa fa-industry"></i> <span>Kanban Board</span></a></li>

                    <li class="treeview" id="sidebar2">
                        <a><i class="fas fa-tasks"></i> <span>Task List</span></a>
                        <ul class="treeview-menu">
                            <li><a id="linkSidebar21" href="#"><i class="fas fa-tasks"></i> <span> Task List</span></a></li>
                            <li><a id="linkSidebar22" class="aHover" onclick="$('#')"><i class="fas fa-plus-circle"></i> <span> Create Task</span> </a></li>
                        </ul>
                    </li>

                    <li class="treeview" id="sidebar3">
                        <a><i class="fas fa-sitemap"></i> <span>Modules</span></a>
                        <ul class="treeview-menu">
                            <li><a id="linkSidebar31" href="#"><i class="fas fa-tasks"></i> <span>Module List</span></a></li>
                            <li><a id="linkSidebar32" class="aHover" onclick="$('#')"><i class="fas fa-plus-circle"></i> <span> Create Module</span> </a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-color:white !important">
            <!-- Content Header (Page header) -->
            <section class="content-header"></section>

            <!-- Main content  class: container-fluid-->
            <section class="content">

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <div class="myFooter">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                <h4>Trần Lương Ngọc Trâm (66DCHT21324)</h4>
                <div>Đồ án tốt nghiệp khóa 66</div>
                <div>Trường Đại học Công Nghệ Giao Thông Vận Tải</div>
                <div>Giảng viên hướng dẫn: TS. Lê Chí Luận</div>
            </div>
            <!-- Default to the left -->
            <div class="pull-left">
                Contact - <i class="fab fa-phone-square"></i>  <br />
                <h4><a style="color:white !important" href="https://www.facebook.com/srimsleeping"><i class="fab fa-facebook-square"></i>: /srimsleeping</a></h4>
                <h4><i class="fas fa-phone-square"></i>: 078 715 7455</h4>
                <h4><i class="fas fa-envelope"></i>: vuanlbv@gmail.com</h4>
            </div>
        </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        var table;
        $(document).ready(function () {
            table = $(".UseDataTables").DataTable({
                "bLengthChange": false,
                "pageLength": 15,
                "searching": false,
                "language": {
                    "sProcessing": "Processing...",
                    "sLengthMenu": "Count of Records _MENU_",
                    "sZeroRecords": "Do not have any record",
                    "sInfo": "From record _START_ to record _END_ in total _TOTAL_ record",
                    "sInfoEmpty": "Do not have any record",
                    "sInfoFiltered": "(filted from _MAX_ records)",
                    "sInfoPostFix": "",
                    "sSearch": "Search: ",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "<i class='fa fa-angle-double-left fa-lg'></i>",
                        "sPrevious": "<i class='fa fa-angle-left fa-lg'></i>",
                        "sNext": "<i class='fa fa-angle-right fa-lg'></i>",
                        "sLast": "<i class='fa fa-angle-double-right fa-lg'></i>"
                    }
                },
                "pagingType": "full_numbers",
                "deferRender": true,
            });
            SetDataTable();
        })

        function SetDataTable() {
            table.destroy();
            table = $(".UseDataTables").DataTable({
                "bLengthChange": false,
                "pageLength": 15,
                "searching": false,
                "language": {
                    "sProcessing": "Processing...",
                    "sLengthMenu": "Count of Records _MENU_",
                    "sZeroRecords": "Do not have any record",
                    "sInfo": "From record _START_ to record _END_ in total _TOTAL_ record",
                    "sInfoEmpty": "Do not have any record",
                    "sInfoFiltered": "(filted from _MAX_ records)",
                    "sInfoPostFix": "",
                    "sSearch": "Search: ",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "<i class='fa fa-angle-double-left fa-lg'></i>",
                        "sPrevious": "<i class='fa fa-angle-left fa-lg'></i>",
                        "sNext": "<i class='fa fa-angle-right fa-lg'></i>",
                        "sLast": "<i class='fa fa-angle-double-right fa-lg'></i>"
                    }
                },
                "pagingType": "full_numbers",
                "deferRender": true,
                "bFilter": true
            });
        }
    </script>
    <script src="~/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="~/DataTables/js/dataTables.bootstrap.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>
    <script src="~/fontawesome-free-5.10.0-web/js/all.min.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
    @RenderSection("Scripts", required: false)
</body>
</html>