@model ServiceDirectory.Models.ListOrganisationByWordVM
@using Commond;
@{
    ViewBag.Title = "_ListOrganisationByWord";
}
<style>
    .ButtonLikeA {
        background: transparent;
        border: none;
    }
</style>
<div class="">
    <h2>Organisation List</h2>
    <hr />
    @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = ConstantTypeWord.ALL, includeInActive = Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListOrganisation",
    }, new { style = "display:inline-block" }))
    {
        <button class="aHover ButtonLikeA" type="submit"><b>All</b></button> <span> &nbsp;|&nbsp;</span>
    }
    @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = ConstantTypeWord.NUMBER, includeInActive = Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListOrganisation",
    }, new { style = "display:inline-block" }))
    {
        <button class="aHover ButtonLikeA" type="submit"><b>0-9</b></button><span> &nbsp;|&nbsp;</span>
    }
    @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = ConstantTypeWord.A_TO_E, includeInActive = Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListOrganisation",
    }, new { style = "display:inline-block" }))
    {
        <button class="aHover ButtonLikeA" type="submit"><b>A B C D E</b></button><span> &nbsp;|&nbsp;</span>
    }
    @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = ConstantTypeWord.F_TO_J, includeInActive = Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListOrganisation",
    }, new { style = "display:inline-block" }))
    {
        <button class="aHover ButtonLikeA" type="submit"><b>F G H I J</b></button><span> &nbsp;|&nbsp;</span>
    }
    @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = ConstantTypeWord.K_TO_N, includeInActive = Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListOrganisation",
    }, new { style = "display:inline-block" }))
    {
        <button class="aHover ButtonLikeA" type="submit"><b>K L M N</b></button><span> &nbsp;|&nbsp;</span>
    }
    @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = ConstantTypeWord.O_TO_R, includeInActive = Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListOrganisation",
    }, new { style = "display:inline-block" }))
    {
        <button class="aHover ButtonLikeA" type="submit"><b>O P Q R</b></button><span> &nbsp;|&nbsp;</span>
    }
    @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = ConstantTypeWord.S_TO_V, includeInActive = Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListOrganisation",
    }, new { style = "display:inline-block" }))
    {
        <button class="aHover ButtonLikeA" type="submit"><b>S T U V</b></button><span> &nbsp;|&nbsp;</span>
    }
    @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = ConstantTypeWord.W_TO_Z, includeInActive = Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListOrganisation",
    }, new { style = "display:inline-block" }))
    {
        <button class="aHover ButtonLikeA" type="submit"><b>W X Y Z</b></button>
    }
    <div class="pull-right">
        <a href="@Url.Action("CreateOrganisation","Organisation")" class="btn btn-default">Create</a>
        @using (Ajax.BeginForm("_ListOrganisationByWord", "Organisation", new { typeWord = Model.TypeWord }, new AjaxOptions()
        {
            OnSuccess = "SuccessAjaxListOrganisation",
        }, new { style = "display:inline-block", @id = "FormAjaxListOrganisationByWordIncludeInActive" }))
        {
            if (Model.IncludeInActive)
            {
                <label onclick="$('#FormAjaxListOrganisationByWordIncludeInActive').submit()" style="margin-left:10px"><input onclick="    $('#FormAjaxIncludeInActive').submit()" type="checkbox" checked name="includeInActive" value="true">Include In-active</label>
            }
            else
            {
                <label onclick="$('#FormAjaxListOrganisationByWordIncludeInActive').submit()" style="margin-left:10px"><input onclick="    $('#FormAjaxIncludeInActive').submit()" type="checkbox" name="includeInActive" value="true">Include In-active</label>
            }
        }

    </div>
    <div id="noiTableDungChan">
        <table id="TableOrganisation" class=" table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Organisation Name
                    </th>
                    <th>
                        Address Line1
                    </th>
                    <th>
                        Post Code
                    </th>
                    <th>
                        Contact
                    </th>
                    <th>
                        Is Active
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListOrganisationModel)
                {
                    <tr>
                        <td>
                            @if (item.IsActive == true)
                            {
                                <a title="Admend Organisation" href="@Url.Action("UpdateOrganisation", "Organisation", new { id = item.OrganisationId })">@item.OrganisationName</a>
                            }
                            else
                            {
                                using (Ajax.BeginForm("MarkActive", "Organisation", new { organisationId = item.OrganisationId, typeWord = Model.TypeWord, includeInActive = Model.IncludeInActive }, new AjaxOptions()
                                {
                                    OnBegin = "ConfirmActiveOrganisation",
                                    OnSuccess = "SuccessAjaxListOrganisation",
                                }, new { style = "display:inline-block" }))
                                {
                                    <button title="Active this Organisation" class="aHover ButtonLikeA" type="submit">@item.OrganisationName</button>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressLine1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostCode)
                        </td>
                        <td>
                            @string.Format("{0} {1}", item.Contact.FirstName, item.Contact.SurName)
                        </td>
                        @if (item.IsActive == true)
                        {
                            <td>
                                Yes
                            </td>
                        }
                        else
                        {
                            <td>
                                No
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.Errors != null && Model.Errors.Count > 0)
{
    <ul>
        @foreach (var error in Model.Errors)
        {
            <li style="color:red">
                @error
            </li>
        }
    </ul>
}
@if (!string.IsNullOrEmpty(Model.Notify))
{
    <script>
        $(document).ready(function () {
            $.notify("@Model.Notify", "success");
        })
    </script>
}
<script>
    function ConfirmActiveOrganisation() {
        return confirm("Do you realy want to active this Organisation?");
    }
</script>
