@model ServiceDirectory.Models.ListSupportingMaterialVM
@using Commond;
<h4>Current list of Supporting Materials</h4>
<hr />
<div class="pull-right">
    <a href="javascript:void(0)" class="btn btn-default">Create</a>
    @using (Ajax.BeginForm("_ListSupportingMaterial", "SupportingMaterial", new {organisationId=Model.OrganisationId,includeInActive=Model.IncludeInActive }, new AjaxOptions()
    {
        OnSuccess = "SuccessAjaxListSupportingMaterial",
    }, new { style = "display:inline-block", @id = "FormAjaxListSupportingMaterialIncludeInActive" }))
    {
        if (Model.IncludeInActive)
        {
            <label onclick="$('#FormAjaxListSupportingMaterialIncludeInActive').submit()" style="margin-left:10px"><input onclick="    $('#FormAjaxIncludeInActive').submit()" type="checkbox" checked name="includeInActive" value="true">Include In-active</label>
        }
        else
        {
            <label onclick="$('#FormAjaxListSupportingMaterialIncludeInActive').submit()" style="margin-left:10px"><input onclick="    $('#FormAjaxIncludeInActive').submit()" type="checkbox" name="includeInActive" value="true">Include In-active</label>
        }
    }
</div>
<table class="UseDataTables table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Url
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Added by
            </th>
            <th>
                Added date
            </th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListListSupportingMaterialModel)
        {
            <tr>
                <td>
                    @if (item.IsActive == true)
                    {
                        <a title="Admend Supporting Material" href="">@item.URL</a>
                    }
                    else
                    {
                        <a title="Mark Active" href="">@item.URL</a>
                    }
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Type
                </td>
                <td>

                </td>
                <td>
                    @item.AddDate
                </td>
                @if (item.IsActive == true)
                {
                    <td>
                        Yes
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
